* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial,sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #0f172a, #1e293b, #334155);

    padding: 20px;
}

.clock-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.clock-card {
    width: 100%;
    max-width: 650px;

    padding: 50px 40px;

    text-align: center;

    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.15);

    border-radius: 25px;

    box-shadow: 0 20px 50px rgba(0,0,0, 0.3);

    backdrop-filter: blur(12px);
}

.clock-card h1 {
    color: white;
    font-size: 32px;
    margin-bottom: 30px;
}

.clock {
    color: #38bdf8;

    font-size: clamp(45px, 10vw,90px);

    font-weight: bold;

    letter-spacing: 4px;

    text-shadow: 0 0 20px rgba(56, 189, 248, 0.5);
    margin-bottom: 20px;

}

.date {
    color: #cbd5e1;
    font-size: 20px;
}

/* Tablet */

@media (max-width: 768px){
    .clock-card{
        padding: 40px 25px;
    }

    .clock-card h1{
        font-size: 28px;
    }

    .date{
        font-size: 18px;
    }
}

/* Mobile */

@media (max-width: 480px){
    body {
    padding: 15px;
  }

  .clock-card {
    padding: 35px 15px;
    border-radius: 20px;
  }

  .clock-card h1 {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .clock {
    font-size: 42px;
    letter-spacing: 2px;
  }

  .date {
    font-size: 15px;
  }
}